body{
    padding: 30px;
}

table, tr, td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    border: 1px solid white;
}


td{
    font-size: 100px;
    width: 100px;
    height: 100px;
    text-align: center;
}